<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center justify-content-lg-between">

    <h1 class="logo me-auto me-lg-0"><a href="index.html">Investify<span>.</span></a></h1>
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        
        <li><a class="nav-link scrollto " href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto " href="#services">Services</a></li>
        <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
        <li><a class="nav-link scrollto " href="#team">Features</a></li>
        <li><a class="nav-link scrollto " href="#part10">FAQS</a></li>
        <li><a class="nav-link scrollto " href="#contact">Contact</a></li>
        
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <a routerLink="/login" class="get-started-btn scrollto">Get Started</a>

  </div>

</header>


  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <h1>Investing in Dreams</h1><h1> Empowering Future<span>.</span></h1>
        <h2>Your Ideas Meet Profits</h2>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-store-line"></i>
            <h3><a href="">Portfolio Performance Analysis</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href=""> Cross Device Accessibility</a></h3>
          </div> 
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-calendar-todo-line"></i>
            <h3><a href="">Real-time Data Syncing </a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-paint-brush-line"></i>
            <h3><a href="">Interactive Stock Drill Down</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-database-2-line"></i>
            <h3><a href=""> User Friendly Search  </a></h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <main id="main">
    <section id="about" class="about" style="padding-top: 100px;">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="../../assets/img/2_about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <h3 style="font-size: 40px;">Become a Better Investor!</h3>
            <br>
            <h4 class="fst-italic">
              Investify is a leading online platform designed to empower investors with the tools and information they
              need to make informed decisions about their investment portfolios. 
              <br>
              Our mission is to provide users with a
              comprehensive and user-friendly platform that simplifies portfolio management and helps users track their investments
              effectively.
            </h4>
            <ul class="fst-italic"  style="font-size: medium;">
              <li><i class="ri-check-double-line"></i> Cross-Device Accessibility</li>
              <li><i class="ri-check-double-line"></i> Real-time Data Syncing</li>
              <li><i class="ri-check-double-line"></i> Portfolio Tracking</li>
              <li><i class="ri-check-double-line"></i> Interactive Stock Drill-Down</li>
              <li><i class="ri-check-double-line"></i> User-friendly Search and Filter Features</li>
            </ul>
            <h4 class="fst-italic">
              We prioritize data accuracy, security, and privacy to ensure that our users can trust the information and insights they receive through our platform.
        </h4>
          </div>
        </div>

      </div>
    </section>

    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="image col-lg-6" style='background-image: url("../../assets/img/3_features.jpg");' data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-receipt"></i>
              <h4>Maximizing Returns</h4>
              <p>Maximizing returns in the stock market portfolio entails careful asset selection and timing, aiming to capitalize on growth while mitigating risks.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-cube-alt"></i>
              <h4>Portfolio Flexibility</h4>
              <p>Portfolio flexibility in the stock market allows for quick adjustments to seize emerging opportunities and adapt to changing market conditions, optimizing potential returns.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-images"></i>
              <h4>Focuses more towards future goals</h4>
              <p>Emphasizing future goals in the stock market portfolio involves aligning investments with long-term objectives, fostering a path for sustained growth and wealth accumulation.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-shield"></i>
              <h4>Helps in managing and budgeting finances</h4>
              <p>A well-managed stock market portfolio facilitates effective financial planning, aiding in budgeting and optimizing resources for both short-term needs and long-term aspirations.</p>
            </div>
          </div>
        </div>

      </div>
    </section>

   
    <section id="services" class="services" style="padding-top: 100px;">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <br>
          <p>Check our Services</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Portfolio Tracking</a></h4>
              <p>Provides real-time monitoring,offering valuable insights and performance metrics to assis clients effectively.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Portfolio Analysis</a></h4>
              <p>Involves analyzing various factors such as diversification,risk management,and performance metrics to make informed decisions.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Real-time Data Updates </a></h4>
              <p>Ensures continuous and up-to-date informationon market trends,prices and financial data for informed investment decisions.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Data Security and Privacy </a></h4>
              <p>Robust data security and privacy measures safeguard sensitive financial information,ensuring confidentiality,integrityand compliance</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">Historical Data Analysis</a></h4>
              <p>Enables in-depth evaluation of past market trends,peformance and patterns ,empowering informed investment decisions and strategy formulation.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">Portfolio Management</a></h4>
              <p>Involves the sysytematic mangement and optimization of investment portfolios to achieve financial goals.mitigate risks and maximize returns for investors.</p>
            </div>
          </div>

        </div>

      </div>
    </section>
  
  <div class="container1">
      <div class="info">
        <h1  style="font-size: 50px;"><b>Stock Market At Your Fingertips</b></h1>
        </div>
        &nbsp;
      <div class="mobil">
        <img src="../../assets/img/mobilimage.png" alt="Mobile Photo">
      </div>
      <div class="infoText">
        <h4 style="font-size: 30px;">Long term or short term, high risk or low risk.</h4>
      </div>
  
      <div class="infoText">
        <h4 style="font-size: 25px;">Be the kind of investor you want to be.</h4>
      </div>
      &nbsp;
    </div>
    
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Become a better Stock Investor! </h3>
          <p> Investify portal helps investors make efficient stock research and analysis by providing
            quality fundamental data with insightful visuals.</p>
          <a class="cta-btn" routerLink="/login">Track Your Portfolio Now</a>
        </div>

      </div>
    </section>

    <section id="portfolio" class="portfolio" style="padding-top: 100px;">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <br>
          <p>Check our Portfolio</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active"> Popular Stocks  </li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../../assets/img/A1.png" class="img-fluid portfolio-img" alt="">
              <div class="portfolio-info">
                <h4><b>APPLE</b></h4>
                <div class="portfolio-links" >
                  <a href="../../assets/img/A1.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../../assets/img/AMAZON7.png" class="img-fluid portfolio-img" alt="">
              <div class="portfolio-info">
                <h4><b>AMAZON</b></h4>
                <div class="portfolio-links">
                  <a href="../../assets/img/AMAZON7.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                  <a href="../../assets/img/5_portfolio/portfolio-details-3.jpg" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../../assets/img/M4.png" class="img-fluid portfolio-img" alt="">
              <div class="portfolio-info">
                <h4><b>MICROSOFT</b></h4>
                <p></p>
                <div class="portfolio-links">
                  <a href="../../assets/img/M4.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  
    <section id="counts" class="counts" style="padding-top: 100px;">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>
          <div class="col-xl-7 ps-4 ps-lg-5 pe-4 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
            
            <div class="content d-flex flex-column justify-content-center">
              <h1 style="color: rgb(34, 34, 36);font-size: 40px;">
                <b>Key Points of our Portfolio</b>
              </h1>
              <br>
              <h4> "Embrace informed decision-making with real-time analytics, empowering your stock market portfolio to adapt to changing market dynamics and seize profitable opportunities."
              </h4>
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="65" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>Asset Tracking</strong> helps investors monitor the performance of individual assets and make informed decisions based on real-time data.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>Portfolio Rebalancing</strong> ensures the portfolio maintains its desired asset allocation, optimizing risk and returns.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-clock"></i>
                    <span data-purecounter-start="0" data-purecounter-end="35" data-purecounter-duration="4" class="purecounter"></span>
                    <p><strong>Performance Analytics</strong> evaluates historical and current portfolio performance, aiding in performance evaluation.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-award"></i>
                    <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="4" class="purecounter"></span>
                    <p><strong>Secure Account Management</strong> ensures robust security measures for protecting user accounts and data.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section id="team" class="team" style="padding-top: 100px;">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Features</h2>
          <br>
          <p>Check our Features</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="../../assets/img/cross-device4.jfif" class="img-fluid" height="100px" >
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Responsive Web Design</h4>
                <span>Works on both large desktop screens and smaller mobile devices.</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="../../assets/img/drill-down.png" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Stock Deep Dive</h4>
                <span>Allows users to delve deeper into specific stocks within their portfolio</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="../../assets/img/search7.jfif" class="img-fluid" alt="">
             
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>User-Oriented Search</h4>
                <span> To enhance user experience, enabling effortless information retrieval.</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="../../assets/img/tracking.jfif" class="img-fluid" height="90px">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Portfolio Performance</h4>
                <span>Comprehensive evaluation of investment returns.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    




    <div id="part10" style="padding-top: 100px;">
      <h1 style="text-align: left; font-weight: bold; font-style: normal; font-size: 50px; padding-left: 25%; line-height: 1.5; max-width: 100%;">
          Frequently asked Questions
      </h1>
      <br><br>
      <div style="background-color: #2d2e2e; padding-top: 3%; padding-bottom: 1%; overflow-x: hidden;">
          <div class="container">
              <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large; font-weight: 900;">
                              What is Investify Portal?
                          </mat-panel-title>
                      </mat-expansion-panel-header>
                      <mat-panel-description style="font-size: medium; font-weight: 700;">
                          Portal is a stock research website offered by Investify. It is built to help investors make efficient stock research and analysis by providing quality fundamental data with insightful visuals.
                          <br><br>
                          We have designed Investify Portal with a simple user interface for easy stock research. With Investify Portal, you can find all the important financial information of stocks along with multiple tools to research and analyze companies, all in one place.
                          <br>
                      </mat-panel-description>
                  </mat-expansion-panel>
              </mat-accordion>
          </div>
          <br>
          <div class="container">
              <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large; font-weight: 900;">
                              How to use Investify Portal?
                          </mat-panel-title>
                      </mat-expansion-panel-header>
                      <mat-panel-description style="font-size: medium; font-weight: 700;">
                          Using Investify Portal, you can perform complete fundamental analysis of any stock listed in the Indian stock market.
                          <br><br>
                          Here, you can find all the essential financial details of a stock, charts to analyze financial trends, pre-calculated financial ratios, and financial statements.
                          <br><br>
                          To use Investify Portal, simply search the company name in the top search bar. Visit the company page and start exploring the company's financials. Additionally, if you need stock research ideas, you can utilize the other tools and products provided by us.
                      </mat-panel-description>
                  </mat-expansion-panel>
              </mat-accordion>
          </div>
          <br>
          <div class="container">
              <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large; font-weight: 900;">
                              Is Investify Portal free?
                          </mat-panel-title>
                      </mat-expansion-panel-header>
                      <mat-panel-description style="font-size: medium; font-weight: 700;">
                          Yes, Investify provides complete fundamental analysis data to its users for free to perform comprehensive analysis. However, it also offers a few exclusive features to its users.
                      </mat-panel-description>
                  </mat-expansion-panel>
              </mat-accordion>
          </div>
          <br>
          <div class="container">
              <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large; font-weight: 900;">
                              What is Stock Portal?
                          </mat-panel-title>
                      </mat-expansion-panel-header>
                      <mat-panel-description style="font-size: medium; font-weight: 700;">
                          Stock Portal provides you with all the fundamental data along with complete tools to research and analyze companies. Investify Portal is the best portal available for the Indian stock market.
                      </mat-panel-description>
                  </mat-expansion-panel>
              </mat-accordion>
          </div>
          <br>
          <div class="container">
              <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large; font-weight: 900;">
                              What is the best site for Stock Analysis?
                          </mat-panel-title>
                      </mat-expansion-panel-header>
                      <mat-panel-description style="font-size: medium; font-weight: 700;">
                          Stock analysis requires stock quotes, financial ratios, financial statements, and other key metrics to make fair and correct investment decisions. Investify Portal is one of the best stock analysis websites available for the Indian stock market.
                      </mat-panel-description>
                  </mat-expansion-panel>
              </mat-accordion>
          </div>
          <br>
      </div>
</div>

    
    <section id="contact" class="contact" style="padding-top: 100px;">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <br>
          <p>Contact Us</p>
        </div>

        <div class="row mt-5">
          
          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Hinjewadi,Pune,India.</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>investify@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 8888 888 888</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
</main>

  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Investify<span>.</span></h3>
              <p>
                Blue Ridge Town, Hinjewadi,Pune,India.<br><br>
                <strong>Phone:</strong> investify@gmail.com <br>
                <strong>Email:</strong> +91 8888 888 888<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#"></a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Portfolio Tracking</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Portfolio Analysis</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Real-time Data Syncing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Data Security</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Connect with Us!</h4>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Send">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Investify</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">Investify</a>
      </div>
    </div>
</footer>

 